// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";


// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here

.nav-link:hover {
    text-decoration: underline
}

.jumbotron {
    background: url("../img/pirate-ship.jpg") no-repeat;
    background-size: cover;
    text-align: center;
}

.responsive {
    max-width: 60%;
    height: auto;
  }

  .byline {
      font-weight: bold;
      position: static;
      font-size: 25px;
      font-style: times;
  }

  .under-text {
      font-style: italic;
      font-size: 20px;
      margin-bottom: 50%;
  }

  .display-4 {
      color: yellow;
  }

  .lead {
      color:yellow;
  }

  .titulo {
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 5%;
  }

  .date {
      font-size: 15px;
  }

  .pirate-text {
      margin-top: 20px;
    
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 3%;
    width: 100%;
    background-color:grey;
    color: black;
    text-align: center;
  }

  .vr {
    width:2px;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
    left:-31%;
}

.story {
    margin-left: -30%;
}

.carousel {
    left: -30%;
    position: relative;
}